*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
body{
    background-color: #f3f3f3; 
}
header{
    width: 100%;
    height: auto;
    background-color: #fff;
    float: right;
}
.container{
   width: 1400px;
   margin: auto;
   
}
#top-header{
    width: 100%;
    height: 120px;
    float: right;
    border-bottom: 1px solid #bbb;
    
}
.logo{
    direction: rtl;
    float: right;
}
#logo-img{
    width: 110px;
    margin: 5px;
    float: right;
}
#logo-text{
    float: right;
    margin: 50px 5px;
    font-weight: bold;
    color: #424242;
}
.search{
    width: 20%;
    float: left;
    padding: 40px;
    
}
.search input{
    padding: 8px;
    width: 80%;
    text-align: center;
    float: right; 
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    border-left: none;
    border-top-right-radius:4px;
    border-bottom-right-radius: 4px;
    text-align: right;
}
.search button{
    background-color: #f4f4f4;
    padding: 7px ;
    border: 1px solid #ccc;
    font-size: 18px;
    color: #595959;
    float: right;
    border-right: none;
    border-top-left-radius:4px;
    border-bottom-left-radius:4px;
    cursor: pointer;
}
/**************Top header*********/
#menu{
    width: 100%;
    height:50px;
    float: right;  
}
#main-menu{
    list-style: none;   
}
#main-menu li{
    float: right; 
    border: 2px solid transparent; /*baray inke masalan roy safheasli raftim az jay aslish tekon nakhore be andaze 2px ke border dadim baray an ja rezrv mishavad */
    transition: 0.3s;
    position: relative;
}
#main-menu li a{
    padding:10px 15px;
    float: right; 
    color: #595959;
}
#main-menu > li:hover{
    border: 2px solid #62d7f8;
    border-radius: 3px;
}
#main-menu > li:hover ul{
    visibility: visible;
    opacity: 1;
    margin-top: 0px;
    transform: rotateY(0deg);
}
#main-menu li ul{
    list-style: none;
    float: right;
    position: absolute;
    top:47px;
    background-color: #fff;
    border: 1px  #62d7f8;
    border-style:solid;
    border-top:none;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    transition:all  0.5s;
    margin-top: 45px;
    transform: rotateY(180deg);
    
}
#main-menu li ul li{
    float: none;
}
#main-menu li ul li:hover{
    background-color: #ccc;
    
}

#main-menu li ul li a{
    float: none;
    display: block;
    text-align: center;
}
/***************menu***********/
#register{
    float: left;
    width: 155px;
    padding: 5px;
}
#register a{
  float: left;
  display: inline-block;
}
#register a:first-child{
  border:2px solid #fc1b1b; 
  color: #444;
  border-radius: 4px;
  padding: 5px 20px;
 transition:0.3s;
}
#register a:first-child:hover{
    background-color: #ff8484;
    color: #fff;
}


#register a:last-child{
  border:2px solid #2196f3; 
  color: #444;
  border-radius: 4px;
  padding: 5px 20px;
  float: right;
  background-color:#2196f3;
  color: #fff;
  transition: 0.3s;
}

#register a:last-child:hover{
    background-color: #fff;
    color: #444;
}
/*************register***********/
.main-content{
    width: 100%;
    min-height: 500px;
    
    float: right;
    margin: 15px 0px;   
}
.sidebar{
    width: 25%;
    min-height:100%;
    background-color: #fff;
    float: right;
    padding: 10px;
    box-sizing: border-box;/*baray inke hengam padding dadan baghie box ha jabeja nashavad*/
}

.left-content{
    width: 74%;
    min-height: 100%;
    
    
}
.slider{
    width: 100%;
    height: 250px;
    margin-bottom: 15px;
    border-radius: 4px;
    overflow: hidden;
    cursor: pointer;
    transition: 0.3s;
    padding:6px 8px; 
}
.slider:hover{
    box-shadow: 0 0 10px #222;
}
.content{
    width: 100%;
    float: right;
    direction: rtl;
    background-color: #fff;  
    padding: 5px;
    box-sizing: border-box;
}

.content h3{
    margin: 5px 15px;
    color:#2b2b2b; 
}
.item{
    display: inline-block;
    width: 32%;
    height: 350px;
    background-color: #ededed;
    margin:5px 4px;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
    transition: 0.3s;
    
}
.item:hover{
    box-shadow: 0 0 10px #aaa;
}
.item-img img{
    width: 100%;
}
.item-heading{
    line-height:160px;
    text-align: center;
    font-size:25px; 
}
/*********************content***********/
.sidebar-widget{
    width: 100%;
    direction: rtl;
    float: right;
    background-color:#e5e5e5;
    border-radius: 4px;
    overflow: hidden;
    padding-bottom:10px;
    margin-bottom:10px;  
}
.sidebar-widget h3{
    padding: 10px;
    background-color: 00b2ff;
    color:#fff;
    margin-bottom: 10px;
}
.news input{
    display: block;
    margin: auto;
    padding: 8px;
    width: 90%;
    margin-bottom: 10px;
    margin-bottom: 10px;
    text-align: center;
}
.news button{
    border: none;
    padding: 10px 25px;
    font-weight: bold;
    background-color:#ff0000;
    color:#fff;
    display: block;
    margin: auto;  
}
.popular ul{
    width: 95%;
    background-color: #fff;
    display: block;
    margin: auto;
}
.popular ul li{
    display: inline-block;
    border-bottom:1px solid #ccc;
    padding: 5px;
    cursor: pointer;
}


.popular ul li img{
    width: 40%;
    float: right;
}
.popular ul li h2{
    float: right;
    margin-right:5px;
    line-height:60px;
    font-size: 20px;
    
}
.pagination{
   width: 50%; 
   margin: auto;
   text-align: center;
    margin:10px auto;
    
}
.pagination a{
    border: 1px solid #ccc;
    padding:6px 15px;
    border-radius:3px;
    color:#6e00bc;
    transition: 0.3s;
}
.pagination a:hover{
    background-color: #00e56e;
    color: #fff;
}
/*******************content*************/
footer{
    width: 100%;
    height: 300px;
    background-color:#331b40;
    float: right;
    color: #fff;
    
}
footer .container div{
    float: right;
    width: 32%;
    text-align: center;
    margin:5px 8px;
    
}
footer .container div h3{
    border-bottom: 1px dashed #fff;
    padding:10px 0; 
}
.bottem-menu ul{
    width: 100%;
    list-style: none;
    
}
.bottem-menu ul li a{
    color: #fff;
    padding: 4px;
    display: block;
    background-color:rgba(255,255,255,0.5);
    margin: 4px 0px;
}
.social a{
    color: #fff;
    font-size: 40px;
    margin:20px 10px;
    display: inline-block;
    
}
.about h4{
    margin-top:15px; 
}


